.card {
  width: 40px;
  height: 65px;
  perspective: 300px;
  transition: opacity 0.5s;

  .content {
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }

  &.flip .content {
    transform: rotateY(0deg);
    transition: transform 0.5s;
  }
  
  .front, .back {
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
    background: no-repeat center/contain url('/img/playing-card-back.png');
  }
}